extends layouts/_layout.pug

block variables
	- var activePage = 'apply-for-leave'
	- var activeGroup = 'forms'

block title
	title Team Work

block content
	.app-title
		div
			h1
				i.fa.fa-clock-o
				|  申请休假

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| 休假
			li.breadcrumb-item
				a(href="#") 申请休假

	.row
		.col-md-12
			.tile
				.tile-body
					form.row
						include ./components/_leave-editor				
						.form-group.col-md-12.align-center
							button.btn.btn-primary.btn-lg.btn-block#btn-create-leave(type='button',href="#") 提交		

block specific-js
	script(type='text/javascript', src="js/plugins/bootstrap-notify.min.js")
	script(type='text/javascript', src="js/plugins/sweetalert.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js", charset="UTF-8")
	script(type='text/javascript', src="js/plugins/select2.min.js")
	script(type='text/javascript', src="js/validate.js")
	script(type='text/javascript', src="js/_leave.js")
	script(type="text/javascript").

		// 设置日期的当前时间和截至时间
		var now = new Date()
		$('#dp-begin-date').datepicker('setDate', now)
		$('#dp-end-date').datepicker('setDate', now)
		setSelect2Value('#leaveDays', '1.0')

		$('#btn-create-leave').click(function(){

			let leave = getLeave()

			$.ajax({
				url: "/create-leave/",
				type: "post",
				data: JSON.stringify(leave),
				dataType: "json",
				success: function(res){
					if(res.succeed) {
						swal("创建成功", "请假申请创建成功。", "success")
					} else {
						swal("创建失败", "请假申请创建失败！ 原因：" + res.error, "error")
					}

				},

				error: function(res){
					swal("创建失败", "请假申请创建失败！ 原因：" + res.error, "error")
				}
			});
		})