doctype html
html
	head
		include includes/_head.pug
		title Login - Team Work

	body
		section.material-half-bg
			.cover

		section.login-content
			.logo: h1 Team Work

			.login-box
				form.login-form(action="/login", method="post")
					h3.login-head
						i.fa.fa-lg.fa-fw.fa-user
						| 登录
					.form-group
						label.control-label 用户名
						input.form-control(type="text", name="loginName", placeholder="用户名", autofocus)

					.form-group
						label.control-label 密码
						input.form-control(type="password", name="password", placeholder="密码")

					.form-group
						label.control-label(style="color:red;") #{message}

					.form-group
						.utility
							.animated-checkbox
								label
									input(type="checkbox")
									span.label-text 记住登录
							p.semibold-text.mb-2
								a(href="#" data-toggle="flip") 忘记密码 ?

					.form-group.btn-container
						button.btn.btn-primary.btn-block#btn-login
							i.fa.fa-sign-in.fa-lg.fa-fw
							| 登录

				form.forget-form(action="index.html")
					h3.login-head
						i.fa.fa-lg.fa-fw.fa-lock
						| Forgot Password ?
					.form-group
						label.control-label EMAIL
						input.form-control(type="text", placeholder="Email")

					.form-group.btn-container
						button.btn.btn-primary.btn-block
							i.fa.fa-unlock.fa-lg.fa-fw
							| RESET

					.form-group.mt-3
						p.semibold-text.mb-0
							a(href="#" data-toggle="flip") <i class="fa fa-angle-left fa-fw"></i> Back to Login

		include includes/_javascript.pug

		script(type="text/javascript").
			// Login Page Flipbox control
			$('.login-content [data-toggle="flip"]').click(function() {
				$('.login-box').toggleClass('flipped');
				return false;
			});