extends layouts/_layout.pug

block variables
	- var activePage = 'my-tasks'
	- var activeGroup = 'forms'
	- var title = '我的任务'
	- var icon = 'fa-bars'

block title
	title Team Work

block content
	.app-title
		div
			h1
				i.fa(class=`${icon}`)
				|  #{title}

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| 任务
			li.breadcrumb-item
				a(href="#") #{title}

	.modal.fade.editDialog#task-dialog(aria-hide="true")
		.modal-dialog(role='dialog', style="width:1200px;max-width:1200px;top:50px;")
			.modal-content
				.modal-header
					h5.modal-title#task-dialog-title 创建任务
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					form.row
						include ./components/_task-editor
				.modal-footer
					button.btn.btn-primary#btn-commit(type='button') 确定
					button.btn.btn-secondary(type='button', data-dismiss='modal') 取消

	.row
		.col-md-12
			.tile
				include ./components/_task-navigation
				include ./components/_task-table
				include ./components/_pagination						

block specific-js
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
	script(type='text/javascript', src="js/plugins/select2.min.js")
	script(type='text/javascript', src="js/plugins/sweetalert.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-notify.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js", charset="UTF-8")
	script(type='text/javascript', src="js/validate.js")
	script(type='text/javascript', src="js/_table.js")
	script(type="text/javascript").

		// 设置对话框内容
		function setEditTaskDialogContent(taskID) {
			setSelect2Value('#taskType', getTableCellData(taskID, 1))
			setSelect2Value('#model', getTableCellData(taskID, 2))
			setSelect2Value('#workObject', getTableRowData(taskID, 'data-work-object'))
			setSelect2Value('#workPlace', getTableRowData(taskID, 'data-work-place'))

			$('#beginTime').val(getTableCellData(taskID, 3))
			$('#endTime').val(getTableCellData(taskID, 4))
			setSelect2Value('#personHours', getTableCellData(taskID, 5))
			$('#executor').val(getTableCellID(taskID, 8))
			$('#taskName').val(getTableCellData(taskID, '-task-name'))
			$('#taskContent').val(getTableRowData(taskID, 'data-content'))

			$('#task-dialog').attr('data-task-id', taskID)
			$('#task-dialog').attr('data-task-state', getTableCellData(taskID, 7))
		}

		// 设置编辑对话框的模式
		function setEditTaskDialogMode(editTaskMode, title, disabledSelector, enabledSelector) {
			$('#task-dialog').attr('data-edit-task-mode', editTaskMode)
			$('#task-dialog-title').html(title)
			$('#btn-commit').html(title)
			if (disabledSelector != null) {
				$(disabledSelector).attr('disabled', true)
			}
			if (enabledSelector != null) {
				$(enabledSelector).attr('disabled', false)
			}
		}
		
		// 根据对话框中的内容生成task对象
		function getTask() {
			let task = {
				id: $('#task-dialog').attr('data-task-id'),
				type: $('#taskType').val(),
				model: $('#model').val(),
				workObject: $('#workObject').val(),
				workPlace: $('#workPlace').val(),
				beginTime: $('#beginTime').val(),
				endTime: $('#endTime').val(),
				personHours: $('#personHours').val(), 
				state: $('#task-dialog').attr('data-task-state'),  
				executor: $('#executor').val(), 
				name: $('#taskName').val(), 
				content: $('#taskContent').val(),
			}
			
			return task
		}


		// 修改任务
		$('.btn-edit-task').click(function(){
			let taskID = $(this).val()
			setEditTaskDialogContent(taskID)
			setEditTaskDialogMode('update-task', '修改任务', null, '.form-control')
			$('#task-dialog').modal()
		})

		// 审核任务
		$('.btn-verify-task').click(function(){
			let taskID = $(this).val()
			setEditTaskDialogContent(taskID)
			setEditTaskDialogMode('verify-task', '审核任务', '.form-control', '#executor')
			$('#task-dialog').modal()
		})

		// 关闭任务
		$('.btn-close-task').click(function(){
			let taskID = $(this).val()
			setEditTaskDialogContent(taskID)
			setEditTaskDialogMode('close-task', '关闭任务', '.form-control', null)
			$('#task-dialog').modal()
		})

		// 删除选中的任务
		$('#btn-delete-tasks').click(function(){
			let ids = []
			$(".cb-task-item:checked").each(function(index){
				ids.push($(this).attr('data-id'))				
			})

			if(ids.length <= 0){
				return
			}

			confirmDelete(ids.length, null, function(isConfirm){
				if(!isConfirm) {
					return
				}
				//- 从后台删除
				$.ajax({
					url: "/delete-tasks/",
					type: "delete",
					data: JSON.stringify(ids),
					dataType: "json",
					success: function(res){
						if(res.succeed) {
							// 删除界面上的日志记录
							for(let i = 0; i < ids.length; ++i) {
								$('#' + ids[i]).remove()
							}

							swal("任务删除", "成功删除" + ids.length + "条任务！", "info")
							//- window.location.reload()
						} else {
							swal("任务删除", "任务删除失败！ 原因：" + res.error, "error")
						}

					},

					error: function(res){
						swal("任务删除", "任务删除失败！ 原因：" + res.error, "error")
					}
				})
			})
		})

		
		// 设置日期的当前时间和截至时间
		var now = new Date()
		$('#beginTime').datepicker('setDate', now)
		$('#endTime').datepicker('setDate', now)

		$(".input-no-empty").bind("input propertychange change",function(event) {
			if($(this).val() != '') {
				$(this).removeClass('is-invalid')
			}
		})

		function checkTaskInputValid(task) {
			if(!task.name){
				$('#taskName').addClass('is-invalid')
				return false
			}

			if(!task.content){
				$('#taskContent').addClass('is-invalid')
				return false
			}
			return true
		}

		$('#btn-commit').click(function(){

			let task = getTask()
			task.id = $('#task-dialog').attr('data-task-id')
			
			//- 验证数据
			if(!checkTaskInputValid(task)){
				return;
			}

			let editTaskMode = $('#task-dialog').attr('data-edit-task-mode')

			let messageTitle = $('#task-dialog-title').html()

			//- 向后台发送更新数据请求
			$.ajax({
				url: "/" + editTaskMode + "/",
				type: "post",
				data: JSON.stringify(task),
				dataType: "json",
				success: function(res){
					if(res.succeed) {
						//- 更新任务列表
						$('#task-dialog').modal('hide')
						window.location.reload()
					} else {
						swal(messageTitle, messageTitle + "失败！ 原因：" + res.error, "error")
					}
				},

				error: function(res){
					swal(messageTitle, messageTitle + "失败！ 原因：" + res.error, "error")
				}
			})
		})

		