extends layouts/_layout.pug

block variables
	- var activePage = 'my-trips'
	- var activeGroup = 'forms'

block title
	title Team Work

block content
	.app-title
		div
			h1
				i.fa(class=`${icon}`)
				|  #{title}

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| 出差
			li.breadcrumb-item
				a(href="#")  #{title}

	.modal.fade.editDialog#edit-dialog(aria-hide="true")
		.modal-dialog(role='dialog', style="width:1200px;max-width:1200px;top:50px;")
			.modal-content
				.modal-header
					h5.modal-title#edit-dialog-title 修改申请记录
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					form.row
						include ./components/_trip-editor
				.modal-footer
					button.btn.btn-primary#btn-commit(type='button') 确定
					button.btn.btn-secondary(type='button', data-dismiss='modal') 取消

	.row
		.col-md-12
			.tile
				include ./components/_trip-table
				include ./components/_pagination		

block specific-js
	script(type='text/javascript', src="js/plugins/bootstrap-notify.min.js")
	script(type='text/javascript', src="js/plugins/sweetalert.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js", charset="UTF-8")
	script(type='text/javascript', src="js/plugins/select2.min.js")
	script(type='text/javascript', src="js/validate.js")
	script(type='text/javascript', src="js/_table.js")
	script(type='text/javascript', src="js/_task-related.js")
	script(type='text/javascript', src="js/_trip.js")
	script(type="text/javascript").

		// 设置对话框内容
		function setEditDialogContent(tripID) {
			setSelect2Value('#model', getTableCellData(tripID, 1))
			setSelect2Value('#workObject', getTableCellData(tripID, 2))
			setSelect2Value('#workPlace', getTableCellData(tripID, 3))
			setDatePickerValue('#planBeginDate', getTableCellData(tripID, 4))
			setDatePickerValue('#planEndDate', getTableCellData(tripID, 5))
			setDatePickerValue('#actualBeginDate', getTableCellData(tripID, 6))
			setDatePickerValue('#actualEndDate', getTableCellData(tripID, 7))
			setSelect2Value('#actualTripDays', getTableCellData(tripID, 8))
			$('#tripWork').val(getTableRowData(tripID, 'data-trip-work'))

			$('#edit-dialog').attr('data-id', tripID)
			$('#edit-dialog').attr('data-state', getTableCellData(tripID, 9))
			$('#edit-dialog').attr('data-plan-trip-days', getTableRowData(tripID, 'data-plan-trip-days'))
		}

		// 设置编辑对话框的模式
		function setEditDialogMode(editMode, title, disabledSelector, enabledSelector) {
			$('#edit-dialog').attr('data-edit-mode', editMode)
			$('#edit-dialog-title').html(title)
			$('#btn-commit').html(title)
			if (disabledSelector != null) {
				$(disabledSelector).attr('disabled', true)
			}
			if (enabledSelector != null) {
				$(enabledSelector).attr('disabled', false)
			}
		}

		// 修改出差申请
		$('.btn-edit').click(function(){
			let tripID = $(this).val()
			setEditDialogContent(tripID)
			setEditDialogMode('update-trip', '修改出差申请', '.item-need-finish', '.item-can-modify')
			$('#edit-dialog').modal()
		})

		// 审核出差申请
		$('.btn-verify').click(function(){
			let tripID = $(this).val()
			setEditDialogContent(tripID)
			setEditDialogMode('verify-trip', '审核出差申请', '.item-need-finish', '.item-can-modify')
			$('#edit-dialog').modal()
		})

		// 批准出差申请
		$('.btn-approve').click(function(){
			let tripID = $(this).val()
			setEditDialogContent(tripID)
			setEditDialogMode('approve-trip', '批准出差申请', '.item-need-finish', '.item-can-modify')
			$('#edit-dialog').modal()
		})

		// 完成出差
		$('.btn-finish').click(function(){
			let tripID = $(this).val()
			setEditDialogContent(tripID)
			setEditDialogMode('finish-trip', '完成出差', '.item-can-modify', '.item-need-finish')
			$('#edit-dialog').modal()
		})

		// 验证输入的有效性
		function checkInputValid(leave) {
			return true
		}

		// 编辑对话框的确认事件
		$('#btn-commit').click(function(){

			let trip = getTrip()
			trip.id = $('#edit-dialog').attr('data-id')
			
			//- 验证数据
			if(!checkInputValid(trip)){
				return;
			}

			let editMode = $('#edit-dialog').attr('data-edit-mode')

			let messageTitle = $('#edit-dialog-title').html()

			//- 向后台发送更新数据请求
			$.ajax({
				url: "/" + editMode + "/",
				type: "post",
				data: JSON.stringify(trip),
				dataType: "json",
				success: function(res){
					if(res.succeed) {
						//- 更新前端列表
						$('#edit-dialog').modal('hide')
						window.location.reload()
					} else {
						swal(messageTitle, messageTitle + "失败！ 原因：" + res.error, "error")
					}
				},

				error: function(res){
					swal(messageTitle, messageTitle + "失败！ 原因：" + res.error, "error")
				}
			})
		})

		// 删除选中的出差申请
		$('#btn-delete').click(function(){
			let ids = []
			$(".cb-task-item:checked").each(function(index){
				let state = $(this).data('state')
				if(!state || state == '待审核'){
					ids.push($(this).data('id'))	
				}
			})

			if(ids.length <= 0){
				return
			}

			confirmDelete(ids.length, '只能删除待审核状态的出差记录', function(isConfirm){
				if(!isConfirm) {
					return
				}
				//- 从后台删除
				$.ajax({
					url: "/delete-leaves/",
					type: "delete",
					data: JSON.stringify(ids),
					dataType: "json",
					success: function(res){
						if(res.succeed) {
							// 删除界面上的日志记录
							for(let i = 0; i < ids.length; ++i) {
								$('#' + ids[i]).remove()
							}

							swal("删除出差记录", "成功删除" + ids.length + "条出差记录！", "info")
							//- window.location.reload()
						} else {
							swal("删除出差记录", "删除出差记录失败！ 原因：" + res.error, "error")
						}

					},

					error: function(res){
						swal("删除出差记录", "删除出差记录失败！ 原因：" + res.error, "error")
					}
				})
			})
		})

		