extends layouts/_layout.pug

block variables
	- var activePage = 'write-worklog'
	- var activeGroup = 'forms'

block title
	title Team Work

block content
	.app-title
		div
			h1
				i.fa.fa-edit
				|  录入工作日志

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| 日志
			li.breadcrumb-item
				a(href="#") 录入日志

	.row
		.col-md-12
			.tile

				.tile-body
					form.row
						include ./components/_worklog-editor				
						.form-group.col-md-12.align-center
							button.btn.btn-primary.btn-lg.btn-block#btnCommitWorklog(type='button',href="#") 提交


block specific-js
	script(type='text/javascript', src="js/plugins/bootstrap-notify.min.js")
	script(type='text/javascript', src="js/plugins/sweetalert.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker.min.js")
	script(type='text/javascript', src="js/plugins/select2.min.js")
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker.min.js")
	script(type="text/javascript").
		$('#sl').click(function(){
			$('#tl').loadingBtn();
			$('#tb').loadingBtn({ text : "Signing In"});
		});

		$('#el').click(function(){
			$('#tl').loadingBtnComplete();
			$('#tb').loadingBtnComplete({ html : "Sign In"});
		});

		$('#worklogDate').datepicker({
			format: 'yyyy-mm-dd',
			firstDay: 1,
			autoclose: true,
			todayHighlight: true,
			dayNamesShort: ['日', '一', '二', '三', '四', '五', '六'],
		});
		
		var now = new Date();
		$('#worklogDate').datepicker('setDate', now);

		$('#btnCommitWorklog').click(function(){

			var worklogContent = {
				workDate: $('#worklogDate').val(),
				workBeginTime: $('#beginTime').val(),
				workEndTime: $('#endTime').val(),
				workType: $('#workType').val(), 
				model: $('#model').val(),
				workPlace: $('#workPlace').val(), 
				workObject: $('#workObject').val(), 
				workContent: $('#workContent').val(),
			}

			$.ajax({
				url: "/write-worklog/",
				type: "post",
				data: JSON.stringify(worklogContent),
				dataType: "json",
				success: function(res){
					if(res.succeed) {
						swal("添加成功", "日志添加成功。", "success");
					} else {
						swal("添加失败", "日志添加失败！ 原因：" + res.error, "error");
					}

				},

				error: function(res){
					swal("添加失败", "日志添加失败！ 原因：" + res.error, "error");
				}
			});
		});

		$('.customSelect').select2();