.row
    .col-lg-11
        .bs-component(style='margin-bottom:10px;')
            .btn-group.btn-group-toggle(data-toggle="buttons")
                label.btn.btn-primary.active
                    input#option1(type="radio" name="options" autocomplete="off" checked="")
                    |  所有任务
                if role < 10
                    label.btn.btn-primary
                        input#option2(type="radio" name="options" autocomplete="off")
                        |  已创建
                label.btn.btn-primary
                    input#option3(type="radio" name="options" autocomplete="off")
                    |  已下发
                label.btn.btn-primary
                    input#option3(type="radio" name="options" autocomplete="off")
                    |  已超期
                label.btn.btn-primary
                    input#option3(type="radio" name="options" autocomplete="off")
                    |  已完成
                label.btn.btn-primary
                    input#option3(type="radio" name="options" autocomplete="off")
                    |  超期完成
                label.btn.btn-primary
                    input#option2(type="radio" name="options" autocomplete="off")
                    |  已关闭
