
.row

    .col-md-6.col-lg-3
        .widget-small.primary.coloured-icon
            i.icon.fa.fa-users.fa-3x
            div.info
                h4 已下发
                p
                    b#b-verified-tasks-count #{statistics.verifiedTasksCount}

    .col-md-6.col-lg-3
        .widget-small.danger.coloured-icon
            i.icon.fa.fa-star.fa-3x
            div.info
                h4 已超期
                p
                    b#b-expired-tasks-count #{statistics.expiredTasksCount}

    .col-md-6.col-lg-3
        .widget-small.info.coloured-icon
            i.icon.fa.fa-thumbs-o-up.fa-3x
            div.info
                h4 已完成
                p
                    b#b-finished-tasks-count #{statistics.finishedTasksCount}

    .col-md-6.col-lg-3
        .widget-small.warning.coloured-icon
            i.icon.fa.fa-files-o.fa-3x
            div.info
                h4 已关闭
                p
                    b#b-expire-finished-tasks-count #{statistics.closedTasksCount}